Repository ntls-io/nautilus-wallet, pull requests merged in 2021-08, with the labels that each got.

#44 test(web-client): better page route tests
  web-client/src/app/views/home/home.page.spec.ts
  web-client/src/app/views/landing/landing.page.spec.ts
  web-client/src/app/views/login/login.page.spec.ts
  web-client/src/app/views/register/register.page.spec.ts
  web-client/src/app/views/send-funds/send-funds.page.spec.ts
  web-client/src/app/views/wallet/wallet.page.spec.ts
  web-client/src/tests/test.helpers.ts
  web-client/src/tests/transloco.helpers.ts
  web-client/tsconfig.spec.json
Labels: CI/CD, M: web-client

#46 build(web-client): install & setup akita
  web-client/package-lock.json
  web-client/package.json
  web-client/src/app/app.module.ts
  web-client/src/main.ts
Labels: M: web-client

#43 Send Funds
  web-client/src/app/views/send-funds/send-funds.module.ts
  web-client/src/app/views/send-funds/send-funds.page.html
  web-client/src/app/views/send-funds/send-funds.page.stories.ts
  web-client/src/app/views/send-funds/send-funds.page.ts
  web-client/src/global.scss
Labels: M: web-client

#45 receive
  web-client/src/app/components/action-item/action-item.component.html
  web-client/src/app/components/action-item/action-item.component.ts
  web-client/src/app/modules/shared/shared.module.ts
  web-client/src/app/views/receive/receive-routing.module.ts
  web-client/src/app/views/receive/receive.module.ts
  web-client/src/app/views/receive/receive.page.html
  web-client/src/app/views/receive/receive.page.scss
  web-client/src/app/views/receive/receive.page.spec.ts
  web-client/src/app/views/receive/receive.page.stories.ts
  web-client/src/app/views/receive/receive.page.ts
  web-client/src/app/views/wallet/wallet-routing.module.ts
  web-client/src/app/views/wallet/wallet.page.spec.ts
  web-client/src/app/views/wallet/wallet.page.ts
Labels: M: web-client

#51 feat(web-client): add back button to header
  web-client/src/app/components/header/header.component.html
  web-client/src/app/components/header/header.component.spec.ts
Labels: M: web-client

#52 refactor(web-client): replace text with logo img
  web-client/src/app/views/landing/landing.page.html
  web-client/src/app/views/landing/landing.page.scss
  web-client/src/assets/img/logo-v.svg
Labels: M: web-client

#53 index
  web-client/.storybook/preview.js
  web-client/src/app/app.component.html
  web-client/src/assets/icon/favicon.png
  web-client/src/index.html
Labels: M: web-client

#55 feat(web-client): add lock screen
  web-client/package-lock.json
  web-client/package.json
  web-client/src/app/app-routing.module.ts
  web-client/src/app/modules/shared/shared.module.ts
  web-client/src/app/views/lockscreen/lockscreen-routing.module.ts
  web-client/src/app/views/lockscreen/lockscreen.module.ts
  web-client/src/app/views/lockscreen/lockscreen.page.html
  web-client/src/app/views/lockscreen/lockscreen.page.scss
  web-client/src/app/views/lockscreen/lockscreen.page.spec.ts
  web-client/src/app/views/lockscreen/lockscreen.page.stories.ts
  web-client/src/app/views/lockscreen/lockscreen.page.ts
  web-client/src/global.scss
Labels: M: web-client

#54 Add registration page
  web-client/src/app/views/register/register.module.ts
  web-client/src/app/views/register/register.page.html
  web-client/src/app/views/register/register.page.scss
  web-client/src/app/views/register/register.page.spec.ts
  web-client/src/app/views/register/register.page.stories.ts
  web-client/src/app/views/register/register.page.ts
Labels: M: web-client

#57 Print wallet
  web-client/.storybook/preview.js
  web-client/package-lock.json
  web-client/package.json
  web-client/src/app/app-routing.module.ts
  web-client/src/app/app.module.ts
  web-client/src/app/modules/shared/shared.module.ts
  web-client/src/app/views/print-wallet/print-wallet-routing.module.ts
  web-client/src/app/views/print-wallet/print-wallet.module.ts
  web-client/src/app/views/print-wallet/print-wallet.page.html
  web-client/src/app/views/print-wallet/print-wallet.page.scss
  web-client/src/app/views/print-wallet/print-wallet.page.spec.ts
  web-client/src/app/views/print-wallet/print-wallet.page.stories.ts
  web-client/src/app/views/print-wallet/print-wallet.page.ts
  web-client/tailwind.config.js
Labels: M: web-client

#66 fix(web-client): remove clearInput button from lock screen PIN input
  web-client/src/app/views/lockscreen/lockscreen.page.html
Labels: bug, M: web-client

#65 chore(web-client): sync package-lock.json
  web-client/package-lock.json
  web-client/package.json
Labels: M: web-client, maintenance

#72 ci(web-client): always run GitHub Actions
  .github/workflows/web-client.yaml
Labels: M: web-client, CI/CD
