Repository ntls-io/nautilus-wallet, pull requests merged in 2021-09, with the labels that each got.

#73 test(web-client, LockscreenPage): default autofocus to false, for Chromatic
  web-client/src/app/views/lockscreen/lockscreen.page.html
  web-client/src/app/views/lockscreen/lockscreen.page.stories.ts
  web-client/src/app/views/lockscreen/lockscreen.page.ts
Labels: M: web-client, maintenance

#59 feat(web-client): add API schema and service
  web-client/.eslintrc.json
  web-client/angular.json
  web-client/package-lock.json
  web-client/package.json
  web-client/proxy.conf.json
  web-client/src/app/services/algosdk.utils.ts
  web-client/src/app/services/wallet.service.spec.ts
  web-client/src/app/services/wallet.service.ts
  web-client/src/environments/environment.prod.ts
  web-client/src/environments/environment.ts
  web-client/src/schema/actions.ts
  web-client/src/schema/algorand.helpers.spec.ts
  web-client/src/schema/algorand.helpers.ts
  web-client/src/schema/attestation.ts
  web-client/src/schema/crypto.ts
  web-client/src/schema/entities.ts
  web-client/src/schema/msgpack.ts
  web-client/src/schema/sealing.ts
  web-client/src/schema/types.ts
  web-client/src/tests/test.helpers.ts
  web-client/tsconfig.json
Labels: feat, M: web-client

#64 payment-confirmation
  web-client/src/app/views/pay/pay.page.html
  web-client/src/app/views/pay/pay.page.ts
  web-client/src/app/views/register/register.page.scss
  web-client/src/app/views/wallet-access/wallet-access.page.ts
  web-client/src/global.scss
Labels: M: web-client

#78 notifications
  web-client/src/app/app.module.ts
  web-client/src/app/modules/error-handler.module.ts
  web-client/src/app/utils/errors/global-error-handler.ts
  web-client/src/app/utils/errors/http-error.interceptor.ts
  web-client/src/app/utils/notification/swal-helper.spec.ts
  web-client/src/app/utils/notification/swal-helper.ts
  web-client/src/app/views/pay/pay.page.ts
  web-client/src/app/views/wallet-access/wallet-access.page.ts
Labels: M: web-client

#81 ui-fix
  web-client/src/global.scss
Labels: M: web-client

#83 Disable buttons
  web-client/package-lock.json
  web-client/package.json
  web-client/src/app/components/action-item/action-item.component.html
  web-client/src/app/components/action-item/action-item.component.ts
  web-client/src/app/views/home/home.page.html
  web-client/src/app/views/home/home.page.ts
  web-client/src/app/views/receive/receive.page.html
  web-client/src/app/views/receive/receive.page.ts
  web-client/src/app/views/wallet/wallet.page.html
  web-client/src/app/views/wallet/wallet.page.ts
Labels: M: web-client

#84 feat(web-client): add pay from & to
  web-client/src/app/views/pay/pay.page.html
  web-client/src/app/views/pay/pay.page.ts
  web-client/src/app/views/send-funds/send-funds.page.html
Labels: M: web-client

#85 external-link
  web-client/src/app/components/action-item/action-item.component.html
  web-client/src/app/components/action-item/action-item.component.ts
Labels: M: web-client

#87 logo-update
  web-client/src/app/views/landing/landing.page.html
  web-client/src/assets/img/logo-icon.svg
  web-client/src/assets/img/logo-title.svg
Labels: M: web-client

#86 manual-address
  web-client/src/app/app-routing.module.ts
  web-client/src/app/views/manual-address/manual-address-routing.module.ts
  web-client/src/app/views/manual-address/manual-address.module.ts
  web-client/src/app/views/manual-address/manual-address.page.html
  web-client/src/app/views/manual-address/manual-address.page.scss
  web-client/src/app/views/manual-address/manual-address.page.spec.ts
  web-client/src/app/views/manual-address/manual-address.page.stories.ts
  web-client/src/app/views/manual-address/manual-address.page.ts
  web-client/src/app/views/send-funds/send-funds.page.html
  web-client/src/app/views/send-funds/send-funds.page.ts
  web-client/src/app/views/wallet-access/wallet-access.page.html
  web-client/src/global.scss
Labels: M: web-client

#48 feat(web-server): port crypto and attestation code
  web-server/sgx-wallet-impl/src/lib.rs
  web-server/sgx-wallet-impl/src/ported/attestation.rs
  web-server/sgx-wallet-impl/src/ported/crypto.rs
  web-server/sgx-wallet-impl/src/ported/mod.rs
  web-server/sgx-wallet-test/enclave/Cargo.lock
  web-server/sgx-wallet-test/enclave/Cargo.toml
  web-server/sgx-wallet-test/enclave/src/lib.rs
  web-server/sgx-wallet-test/enclave/src/ported/mod.rs
  web-server/sgx-wallet-test/enclave/src/ported/proptest_crypto.rs
  web-server/sgx-wallet-test/enclave/src/ported/test_attestation.rs
  web-server/sgx-wallet-test/enclave/src/ported/test_crypto.rs
Labels: M: enclave

#49 feat(web-server): port SGX KvStore code
  web-server/sgx-wallet-impl/Cargo.lock
  web-server/sgx-wallet-impl/Cargo.toml
  web-server/sgx-wallet-impl/src/ported/kv_store/fs/mod.rs
  web-server/sgx-wallet-impl/src/ported/kv_store/fs/sgx_filer.rs
  web-server/sgx-wallet-impl/src/ported/kv_store/mod.rs
  web-server/sgx-wallet-impl/src/ported/mod.rs
  web-server/sgx-wallet-test/app/build.rs
  web-server/sgx-wallet-test/app/codegen/Enclave_u.c
  web-server/sgx-wallet-test/app/codegen/Enclave_u.h
  web-server/sgx-wallet-test/enclave/Cargo.lock
  web-server/sgx-wallet-test/enclave/Cargo.toml
  web-server/sgx-wallet-test/enclave/Enclave.edl
  web-server/sgx-wallet-test/enclave/Makefile
  web-server/sgx-wallet-test/enclave/codegen/Enclave_t.c
  web-server/sgx-wallet-test/enclave/codegen/Enclave_t.h
  web-server/sgx-wallet-test/enclave/src/helpers/mod.rs
  web-server/sgx-wallet-test/enclave/src/helpers/temp_dir.rs
  web-server/sgx-wallet-test/enclave/src/lib.rs
  web-server/sgx-wallet-test/enclave/src/ported/kv_store/tests.rs
  web-server/sgx-wallet-test/enclave/src/ported/mod.rs
  web-server/sgx-wallet-test/enclave/src/ported/test_kv_store.rs
  web-server/sgx-wallet-test/enclave/src/ported/test_kv_store_fs.rs
Labels: M: enclave

#68 feat(web-server): add wallet operations endpoint
  web-server/http-service-impl/Cargo.toml
  web-server/http-service-impl/src/actors.rs
  web-server/http-service-impl/src/resources/enclave_report.rs
  web-server/http-service-impl/src/resources/mod.rs
  web-server/http-service-impl/src/resources/wallet_operation.rs
  web-server/http-service-impl/src/server.rs
  web-server/http-service-impl/src/traits.rs
  web-server/sgx-wallet-impl/Cargo.lock
  web-server/sgx-wallet-impl/Cargo.toml
  web-server/sgx-wallet-impl/src/ecall_helpers.rs
  web-server/sgx-wallet-impl/src/ecalls/mod.rs
  web-server/sgx-wallet-impl/src/ecalls/wallet_operation.rs
  web-server/sgx-wallet-impl/src/lib.rs
  web-server/sgx-wallet-impl/src/ported/crypto.rs
  web-server/sgx-wallet-impl/src/schema/actions.rs
  web-server/sgx-wallet-impl/src/schema/entities.rs
  web-server/sgx-wallet-impl/src/schema/macros.rs
  web-server/sgx-wallet-impl/src/schema/mod.rs
  web-server/sgx-wallet-impl/src/schema/msgpack.rs
  web-server/sgx-wallet-impl/src/schema/sealing.rs
  web-server/sgx-wallet-impl/src/schema/serde_bytes_array.rs
  web-server/sgx-wallet-impl/src/schema/types.rs
  web-server/sgx-wallet-impl/src/wallet_operations/create_wallet.rs
  web-server/sgx-wallet-impl/src/wallet_operations/dispatch.rs
  web-server/sgx-wallet-impl/src/wallet_operations/errors.rs
  web-server/sgx-wallet-impl/src/wallet_operations/mod.rs
  web-server/sgx-wallet-impl/src/wallet_operations/open_wallet.rs
  web-server/sgx-wallet-impl/src/wallet_operations/sign_transaction.rs
  web-server/sgx-wallet-impl/src/wallet_operations/store.rs
  web-server/sgx-wallet-test/app/src/main.rs
  web-server/sgx-wallet-test/enclave/Cargo.lock
  web-server/sgx-wallet-test/enclave/Cargo.toml
  web-server/sgx-wallet-test/enclave/src/helpers/algonaut.rs
  web-server/sgx-wallet-test/enclave/src/helpers/mod.rs
  web-server/sgx-wallet-test/enclave/src/helpers/wallet_store.rs
  web-server/sgx-wallet-test/enclave/src/lib.rs
  web-server/sgx-wallet-test/enclave/src/schema/mod.rs
  web-server/sgx-wallet-test/enclave/src/schema/test_sealing.rs
  web-server/sgx-wallet-test/enclave/src/wallet_operations/mod.rs
  web-server/sgx-wallet-test/enclave/src/wallet_operations/test_create_wallet.rs
  web-server/sgx-wallet-test/enclave/src/wallet_operations/test_dispatch.rs
  web-server/sgx-wallet-test/enclave/src/wallet_operations/test_open_wallet.rs
  web-server/sgx-wallet-test/enclave/src/wallet_operations/test_sign_transaction.rs
  web-server/sgx-wallet-test/enclave/src/wallet_operations/test_sign_transaction_msgpack.rs
  web-server/sgx-wallet/app/Makefile
  web-server/sgx-wallet/app/build.rs
  web-server/sgx-wallet/app/codegen/Enclave_u.c
  web-server/sgx-wallet/app/codegen/Enclave_u.h
  web-server/sgx-wallet/app/codegen/Enclave_u.rs
  web-server/sgx-wallet/app/src/main.rs
  web-server/sgx-wallet/app/src/safe_ecalls.rs
  web-server/sgx-wallet/app/src/trait_impls.rs
  web-server/sgx-wallet/enclave/Cargo.lock
  web-server/sgx-wallet/enclave/Enclave.edl
  web-server/sgx-wallet/enclave/Makefile
  web-server/sgx-wallet/enclave/codegen/Enclave_t.c
  web-server/sgx-wallet/enclave/codegen/Enclave_t.h
  web-server/sgx-wallet/enclave/src/lib.rs
Labels: feat, M: enclave, M: web-service

#69 feat(web-server): add CORS headers
  web-server/http-service-impl/Cargo.lock
  web-server/http-service-impl/Cargo.toml
  web-server/http-service-impl/src/server.rs
  web-server/sgx-wallet/app/Cargo.lock
Labels: feat, M: web-service

#89 ci(web-server): fix HW-mode workflow
  .github/workflows/web-server-hw.yaml
Labels: bug, CI/CD

#91 co-feedback
  web-client/src/app/components/action-item/action-item.component.html
  web-client/src/app/views/pay/pay.page.html
Labels: M: web-client

#93 docs(web-server, README): better instructions for bindgen, cargo make
  web-server/README.md
Labels: documentation, M: web-server

#90 test(web-server, sgx-wallet-test): exit with error status if tests failed
  web-server/sgx-wallet-test/app/codegen/Enclave_u.c
  web-server/sgx-wallet-test/app/codegen/Enclave_u.h
  web-server/sgx-wallet-test/app/codegen/Enclave_u.rs
  web-server/sgx-wallet-test/app/src/main.rs
  web-server/sgx-wallet-test/app/src/safe_ecalls.rs
  web-server/sgx-wallet-test/enclave/Enclave.edl
  web-server/sgx-wallet-test/enclave/codegen/Enclave_t.c
  web-server/sgx-wallet-test/enclave/codegen/Enclave_t.h
  web-server/sgx-wallet-test/enclave/src/lib.rs
Labels: M: sgx-enclave, maintenance

#97 feat(asset-services): base layout for Celery, worker, and API crates
  .github/workflows/asset-services.yaml
  asset-services/.dockerignore
  asset-services/.gitignore
  asset-services/ARCHITECTURE.md
  asset-services/Cargo.lock
  asset-services/Cargo.toml
  asset-services/Dockerfile
  asset-services/README.md
  asset-services/asset-services-api/Cargo.toml
  asset-services/asset-services-api/src/errors.rs
  asset-services/asset-services-api/src/handlers.rs
  asset-services/asset-services-api/src/helpers.rs
  asset-services/asset-services-api/src/main.rs
  asset-services/asset-services-celery/Cargo.toml
  asset-services/asset-services-celery/src/celery_box.rs
  asset-services/asset-services-celery/src/exports.rs
  asset-services/asset-services-celery/src/lib.rs
  asset-services/asset-services-celery/src/run_helpers.rs
  asset-services/asset-services-celery/src/tasks.rs
  asset-services/asset-services-worker/Cargo.toml
  asset-services/asset-services-worker/src/main.rs
  asset-services/docker-compose.yaml
  asset-services/generate-dockerignore.sh
  asset-services/rust-toolchain.toml
  asset-services/rustfmt.toml
Labels: feat, M: asset-services

#99 build(web-server): update Rust nightly toolchain: 2021-03-25 → 2021-05-10
  web-server/Dockerfile
  web-server/rust-toolchain.toml
Labels: M: sgx-enclave, M: web-server, maintenance

#101 build(asset-services,web-server): better generate-dockerignore.sh scripts
  asset-services/generate-dockerignore.sh
  web-server/generate-dockerignore.sh
Labels: M: web-server, maintenance, M: asset-services

#102 refactor: split out env-var-helpers library
  asset-services/Cargo.lock
  asset-services/asset-services-api/Cargo.toml
  asset-services/asset-services-api/src/helpers.rs
  asset-services/asset-services-celery/Cargo.toml
  asset-services/asset-services-celery/src/run_helpers.rs
  web-server/sgx-wallet/app/Cargo.lock
  web-server/sgx-wallet/app/Cargo.toml
  web-server/sgx-wallet/app/src/main.rs
Labels: maintenance, M: asset-services

#103 refactor(asset-services-worker): small cleanups
  asset-services/asset-services-api/src/handlers/misc.rs
  asset-services/asset-services-api/src/handlers/mod.rs
  asset-services/asset-services-api/src/main.rs
  asset-services/asset-services-celery/src/celery_box.rs
  asset-services/asset-services-celery/src/run_helpers.rs
  asset-services/asset-services-celery/src/tasks/misc.rs
  asset-services/asset-services-celery/src/tasks/mod.rs
  asset-services/asset-services-worker/src/main.rs
Labels: maintenance, M: asset-services

#104 feat(asset-services,twilio-verify): add twilio-verify client
  asset-services/.dockerignore
  asset-services/Cargo.lock
  asset-services/Cargo.toml
  asset-services/twilio-verify/Cargo.toml
  asset-services/twilio-verify/src/client.rs
  asset-services/twilio-verify/src/exports.rs
  asset-services/twilio-verify/src/lib.rs
  asset-services/twilio-verify/src/types.rs
Labels: feat, M: asset-services
