Repository ntls-io/nautilus-wallet, pull requests merged in 2022-05, with the labels that each got.

#190 refactor(web-client): use common ActionItem type definition
  web-client/src/app/components/action-item/action-item.component.ts
  web-client/src/app/views/home/home.page.ts
  web-client/src/app/views/receive/receive.page.ts
  web-client/src/app/views/send-funds/send-funds.page.spec.ts
  web-client/src/app/views/send-funds/send-funds.page.ts
  web-client/src/app/views/wallet/wallet.page.ts
Labels: M: web-client, maintenance, small

#191 refactor(web-client): extract PureWalletPageComponent
  web-client/src/app/components/pure-wallet-page/pure-wallet-page.component.html
  web-client/src/app/components/pure-wallet-page/pure-wallet-page.component.scss
  web-client/src/app/components/pure-wallet-page/pure-wallet-page.component.spec.ts
  web-client/src/app/components/pure-wallet-page/pure-wallet-page.component.stories.ts
  web-client/src/app/components/pure-wallet-page/pure-wallet-page.component.ts
  web-client/src/app/components/pure-wallet-page/pure-wallet-page.module.ts
  web-client/src/app/views/wallet/wallet.module.ts
  web-client/src/app/views/wallet/wallet.page.html
  web-client/src/app/views/wallet/wallet.page.spec.ts
  web-client/src/app/views/wallet/wallet.page.ts
Labels: M: web-client, maintenance

#193 feat(web-client,KycPage): use Onfido check storage
  web-client/src/app/services/enclave/enclave.service.ts
  web-client/src/app/state/session.query.spec.ts
  web-client/src/app/state/session.query.ts
  web-client/src/app/state/session.service.ts
  web-client/src/app/state/session.store.ts
  web-client/src/app/views/kyc/kyc.page.html
  web-client/src/app/views/kyc/kyc.page.scss
  web-client/src/app/views/kyc/kyc.page.spec.ts
  web-client/src/app/views/kyc/kyc.page.stories.ts
  web-client/src/app/views/kyc/kyc.page.ts
  web-client/src/schema/actions.ts
Labels: feat, M: web-client

#197 feat(web-client,SessionService): invariant: reset session store before open
  web-client/src/app/state/session.service.ts
Labels: feat, M: web-client, small

#194 feat(web-client): Onfido-based soft limits
  web-client/src/app/components/pay-amount-confirm/pay-amount-confirm.component.html
  web-client/src/app/components/pay-amount-confirm/pay-amount-confirm.component.stories.ts
  web-client/src/app/components/pay-amount-confirm/pay-amount-confirm.component.ts
  web-client/src/app/components/pay/pay.component.html
  web-client/src/app/components/pay/pay.component.stories.ts
  web-client/src/app/components/pay/pay.component.ts
  web-client/src/app/components/pure-pay-page/pure-pay-page.component.spec.ts
  web-client/src/app/components/pure-pay-page/pure-pay-page.component.ts
  web-client/src/app/utils/assets/assets.algo.asa.spec.ts
  web-client/src/app/utils/assets/assets.algo.spec.ts
  web-client/src/app/utils/assets/assets.algo.ts
  web-client/src/app/utils/assets/assets.config.spec.ts
  web-client/src/app/utils/assets/assets.config.ts
  web-client/src/app/utils/assets/assets.xrp.spec.ts
  web-client/src/app/utils/assets/assets.xrp.token.spec.ts
  web-client/src/app/utils/assets/assets.xrp.token.ts
  web-client/src/app/utils/assets/assets.xrp.ts
  web-client/src/app/views/pay/pay.page.html
  web-client/src/app/views/pay/pay.page.ts
  web-client/src/app/views/wallet/wallet.page.html
  web-client/src/app/views/wallet/wallet.page.stories.ts
  web-client/src/app/views/wallet/wallet.page.ts
  web-client/src/environments/types.ts
Labels: feat, M: web-client

#198 feat(web-client): add opportunistic XRPL token opt-ins
  web-client/src/app/services/xrpl.service.ts
  web-client/src/app/state/session-xrpl.service.ts
  web-client/src/app/state/session.query.spec.ts
  web-client/src/app/state/session.query.ts
  web-client/src/app/state/session.store.ts
  web-client/src/app/views/wallet/wallet.page.ts
Labels: feat, M: web-client

#192 build(web-client): add storybook:compodoc command
  web-client/package.json
Labels: M: web-client, maintenance, small

#199 feat(web-client): better console logging helpers
  web-client/src/app/utils/console.helpers.ts
Labels: feat, M: web-client, small

#200 feat(web-client): handle XRPL `actNotFound`
  web-client/src/app/services/xrpl.service.ts
  web-client/src/app/services/xrpl.utils.spec.ts
  web-client/src/app/services/xrpl.utils.ts
  web-client/src/app/state/session-xrpl.service.ts
  web-client/src/app/views/wallet/wallet.page.ts
Labels: bug, M: web-client

#201 feat(asset-services): add Twilio messaging endpoint
  asset-services/.dockerignore
  asset-services/Cargo.lock
  asset-services/Cargo.toml
  asset-services/asset-services-api/src/handlers/messaging.rs
  asset-services/asset-services-api/src/handlers/mod.rs
  asset-services/asset-services-api/src/main.rs
  asset-services/asset-services-celery/Cargo.toml
  asset-services/asset-services-celery/src/preflight/checks.rs
  asset-services/asset-services-celery/src/preflight/mod.rs
  asset-services/asset-services-celery/src/run_helpers.rs
  asset-services/asset-services-celery/src/tasks/messaging.rs
  asset-services/asset-services-celery/src/tasks/mod.rs
  asset-services/docker-compose.yaml
  asset-services/twilio-api/Cargo.toml
  asset-services/twilio-api/src/client.rs
  asset-services/twilio-api/src/exports.rs
  asset-services/twilio-api/src/lib.rs
  asset-services/twilio-api/src/types.rs
Labels: feat, M: web-client

#203 feat(web-client): add SMS messaging
  web-client/src/app/services/messaging.service.spec.ts
  web-client/src/app/services/messaging.service.ts
  web-client/src/app/services/nautilus-asset-services.service.spec.ts
  web-client/src/app/services/nautilus-asset-services.service.ts
  web-client/src/app/services/onfido.service.ts
  web-client/src/app/state/session.service.ts
  web-client/src/app/views/register/register.page.ts
Labels: feat, M: web-client

#205 feat(web-client): better wallet refresh
  web-client/src/app/services/xrpl.service.ts
  web-client/src/app/views/wallet/wallet.page.spec.ts
  web-client/src/app/views/wallet/wallet.page.ts
  web-client/src/environments/environment.prod.ts
  web-client/src/environments/environment.ts
Labels: bug, feat, M: web-client

#206 feat(web-client): streamline Algorand UI
  web-client/src/app/state/session.query.ts
  web-client/src/app/views/wallet/wallet.page.ts
  web-client/src/helpers/helpers.spec.ts
  web-client/src/helpers/helpers.ts
Labels: feat, M: web-client

#242 feat(web-client): add country code & validation to register page
  web-client/.gitignore
  web-client/.prettierignore
  web-client/angular.json
  web-client/package-lock.json
  web-client/package.json
  web-client/src/app/state/session.service.ts
  web-client/src/app/views/register/register.module.ts
  web-client/src/app/views/register/register.page.html
  web-client/src/app/views/register/register.page.ts
  web-client/src/global.scss
Labels: M: web-client

#252 fix(web-client): Remove kyc keyboard offset
  web-client/capacitor.config.ts
  web-client/src/app/views/kyc/kyc.page.scss
Labels: bug, M: web-client, small

#254 fix(web-client): add close button to pin modal
  web-client/src/app/views/wallet-access/wallet-access.page.html
Labels: bug, M: web-client, maintenance, small
