Repository ntls-io/nautilus-wallet, pull requests merged in 2022-03, with the labels that each got.

#137 chore(web-server): update to Rust SGX SDK 1.1.4
  web-server/Dockerfile
  web-server/README.md
  web-server/http-service-impl/Cargo.lock
  web-server/http-service-impl/Cargo.toml
  web-server/rust-toolchain.toml
  web-server/sgx-helpers/Cargo.lock
  web-server/sgx-helpers/Cargo.toml
  web-server/sgx-wallet-impl/Cargo.lock
  web-server/sgx-wallet-impl/Cargo.toml
  web-server/sgx-wallet-impl/src/ported/crypto.rs
  web-server/sgx-wallet-impl/src/ported/kv_store/fs/mod.rs
  web-server/sgx-wallet-impl/src/schema/sealing.rs
  web-server/sgx-wallet-test/app/Cargo.lock
  web-server/sgx-wallet-test/app/Cargo.toml
  web-server/sgx-wallet-test/app/codegen/Enclave_u.c
  web-server/sgx-wallet-test/app/codegen/Enclave_u.h
  web-server/sgx-wallet-test/app/src/main.rs
  web-server/sgx-wallet-test/enclave/Cargo.lock
  web-server/sgx-wallet-test/enclave/Cargo.toml
  web-server/sgx-wallet-test/enclave/codegen/Enclave_t.c
  web-server/sgx-wallet-test/enclave/codegen/Enclave_t.h
  web-server/sgx-wallet-test/enclave/src/wallet_operations/test_create_wallet.rs
  web-server/sgx-wallet-test/enclave/src/wallet_operations/test_dispatch.rs
  web-server/sgx-wallet-test/enclave/src/wallet_operations/test_sign_transaction.rs
  web-server/sgx-wallet/app/Cargo.lock
  web-server/sgx-wallet/app/Cargo.toml
  web-server/sgx-wallet/app/codegen/Enclave_u.c
  web-server/sgx-wallet/app/codegen/Enclave_u.h
  web-server/sgx-wallet/app/src/main.rs
  web-server/sgx-wallet/enclave/Cargo.lock
  web-server/sgx-wallet/enclave/Cargo.toml
  web-server/sgx-wallet/enclave/codegen/Enclave_t.c
  web-server/sgx-wallet/enclave/codegen/Enclave_t.h
  web-server/sgx-wallet/enclave/src/lib.rs
Labels: maintenance

#160 test(web-client): fix CI
  web-client/.prettierignore
  web-client/package.json
  web-client/src/app/services/enclave/enclave.service.ts
  web-client/src/app/views/scanner/scanner.page.spec.ts
  web-client/src/stories/theme.html
  web-client/src/stories/theme.stories.ts
Labels: bug, M: web-client

#138 refactor(web-client): add inputs to profile card
  web-client/src/app/components/profile-card-horizontal/profile-card-horizontal.component.html
  web-client/src/app/components/profile-card-horizontal/profile-card-horizontal.component.stories.ts
  web-client/src/app/components/profile-card-horizontal/profile-card-horizontal.component.ts
  web-client/src/app/views/home/home.page.html
Labels: M: web-client

#136 refactor(web-client): extract PayFromToComponent
  web-client/src/app/components/pay-from-to/pay-from-to.component.html
  web-client/src/app/components/pay-from-to/pay-from-to.component.scss
  web-client/src/app/components/pay-from-to/pay-from-to.component.spec.ts
  web-client/src/app/components/pay-from-to/pay-from-to.component.stories.ts
  web-client/src/app/components/pay-from-to/pay-from-to.component.ts
  web-client/src/app/modules/shared/shared.module.ts
  web-client/src/app/views/pay/pay.page.html
  web-client/src/app/views/pay/pay.page.stories.ts
Labels: M: web-client
